[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlmodel = "*"
pydantic = "*"
python-multipart = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
pydantic-settings = "*"
python-dotenv = "*"
vietnam-provinces = "*"

[dev-packages]
httpx = "*"
pytest = "*"

[requires]
python_version = "3.10"
